@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.img{
  background-image: url('/bg_star.webp');
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}


.selection{
  display:  flex;
  flex-direction: column;
  user-select: none;
}


/* This is button class for every button inside the body */
.button{
  box-shadow: 2px 2px white;
  transition: all ease-out .3s;
  @apply text-black px-4 py-2 bg-[#ffdd33] rounded-lg font-semibold
}
.button:hover{
  box-shadow: 4px 4px white;
  font-weight: bold;
}